/* CLASSE COMMUNE  */
.apparition {
    opacity: 1;
    display: block;
}

.disparu {
    opacity: 0;
    display: none;
}

.disparu2 {
    opacity: 0;
}


.pointer {
    position: absolute;
    right: 10px;
    bottom: 0px;
    width: 50px;
}

/* .boite>* {
    display: none;
} */

/* ACCUEIL DU JEU  */

body {
    margin: 0px;
    background-image: url(img/BACKGROUND/pexels-pixabay-235985.jpg);
    background-position: 0px;
    background-repeat: no-repeat;
}

.orne1 {
    position: fixed;
    top: 0px;
    right: 0px;
}

.orne2 {
    position: fixed;
    transform: rotate(90deg);
    bottom: 0px;
    right: 0px;
}

.orne3 {
    position: fixed;
    transform: rotate(-90deg);
    top: 0px;
    left: 0px;
}

.orne4 {
    position: fixed;
    transform: rotate(180deg);
    bottom: 0px;
    left: 0px;
}

.parent {
    display: grid;
    grid-template-columns: 1fr;
}

.logo {
    margin: 40px auto;
}

.ornementTitre {
    margin: -80px auto;
}

h1 {
    font-family: 'Cinzel', serif;
    font-weight: initial;
    color: white;
    font-size: 30pt;
    margin: 40px auto;
}

.boutonTapis {
    background-image: url(img/ACCUEIL/tapis.jpg);
    width: 100%;
    height: 160px;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 120px;
}

.bouton {
    background: white;
    padding: 20px 40px 20px 40px;
    display: inline-block;
    border-radius: 10px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
    font-size: 18pt;
    color: #402505;
    box-shadow: 4px 5px 0px #402505;
}

.boutonTapis>a {
    text-decoration: none;
    margin: auto;
}

.jeu1 {
    background: #FFFEF7;
    display: grid;
    grid-template-columns: 1fr;
}

.titre {
    font-family: 'Cinzel', serif;
    color: #402505;
    padding: 20px;
    margin: auto;
    font-size: 18pt;
}

/* INTRO  */
.intro {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    background-image: url(img/BACKGROUND/accueil.jpg);
    position: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 0px;
    z-index: 5;
}

.title {
    font-family: 'cinzel', serif;
    margin: auto;
    font-size: 20pt;
    padding: 20px;
}

.boite {
    background: #FFFEF7;
    width: 80%;
    margin: 20vh auto;
    border-radius: 5px;
    position: relative;
    text-align: center;
    border: 3px solid #402505;
    transition: 1s;
}

.texte {
    font-family: 'Arvo', serif;
    margin: auto;
    text-align: left;
    padding: 0px 20px 40px 20px;
}

.orneDore1 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 113px;
}

.orneDore2 {
    position: absolute;
    transform: rotate(180deg);
    bottom: 0px;
    left: 0px;
    width: 113px;
}

.boite2 {
    top: 0px;
    background: #FFFEF7;
    width: 80%;
    margin: 60% auto;
    border-radius: 5px;
    position: relative;
    text-align: center;
    border: 3px solid #402505;
    transition: 1s;
}

/* Animation de l'icon de pointer  */
@keyframes bouge {
    0% {
        transform: translate(100px, 150px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}

.main {
    animation: bouge 1s linear infinite alternate;
}

/* FENETRE DE CHEMIN OU MARCHE  */
.chemin {
    width: 100%;
    height: 100%;
    margin: 0px;
    background-image: url(img/BACKGROUND/pexels-pixabay-235985.jpg);
    background-position: 0px;
    position: fixed;
    top: 0px;
    background-repeat: no-repeat;
}

.chemin > div {
    margin-top: 70px;
}

.ptitTexte {
    font-family: 'Arvo', serif;
    margin: auto;
    margin-top: 100px;
    padding: 20px 20px 20px 20px;
    color: #402505;
    background-color: #FFFEF7;
    width: 300px;
    border-radius: 10px;
    box-shadow: 4px 5px 0px #402505;
}

a {
    text-decoration: none;
}

.btnMarche {
    text-align: center;
    background-color: #FFFBD8;
    padding: 2%;
    width: 300px;
    font-family: 'Cinzel', serif;
    border-radius: 30px;
    font-size: 20pt;
    font-weight: bold;
    color: #B88014;
    box-shadow: 4px 5px 0px #402505;
    margin: 40px auto;
    text-decoration: none;
}

.pas {
    position: fixed;
    bottom: 0px;
    z-index: -1;
}

.assombrir {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(99, 57, 16, 0.307), rgba(62, 4, 4, 0.307));
}

/* Bouton du debug menu  */
.btnDebug {
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-family: 'Arvo', serif;
    background-color: #FFFBD8;
    color: #402505;
    width: 140px;
    text-align: center;
    padding: 2%;
    border-radius: 10px;
    border: 2px solid #402505;
}

.bi {
    position: fixed;
    top: 30px;
    left: 30px;
}

@media screen and (max-height: 700px) {
    .btnMarche {
        margin-top: 20px;
    }
}