/* CLASSE COMMUNE  */
.apparition {
    display: block;
}

.disparu {
    display: none;
}

.disparu2 {
    opacity: 0;
    transition: 0.5s;
}


.pointer {
    position: absolute;
    right: 0%;
    bottom: -4%;
    width: 50px;
}

.main {
    animation: bouge 1s linear infinite alternate;
}

/* Animation pointer  */
@keyframes bouge {
    0% {
        transform: translate(100px, 150px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}


.jeu2 {
    background: url(../img/BACKGROUND/PlaceReunion3.jpg);
    background-size: cover;
    background-position: 0 -140px;
    background-repeat: no-repeat;
    margin: 0;
    overflow: hidden;
}

.perso {
    position: absolute;
    bottom: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}

.player {
    width: 65%;
    bottom: 0px;
    position: fixed;
    z-index: -1;
}

.oldMan {
    width: 65%;
    transform: scaleX(-1);
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: -1;
}

.apoth {
    width: 62%;
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: -1;
}

.parentBoite {
    width: 100%;
    height: 100vh;
    position: relative;
}

.boite2 {
    background: #FFFEF7;
    width: 100%;
    height: 19%;
    border-radius: 5px;
    text-align: left;
    border: 3px solid #402505;
    transition: 1s;
    position: fixed;
    bottom: 50px;
    left: 0px;
    box-sizing: border-box;
    font-family: 'Arvo', serif;
    z-index: 2;
}

.boite {
    background: #FFFEF7;
    width: 100%;
    height: 19%;
    border-radius: 5px;
    text-align: left;
    border: 3px solid #402505;
    transition: 1s;
    position: fixed;
    bottom: 50px;
    left: 0px;
    box-sizing: border-box;
    font-family: 'Arvo', serif;
    z-index: 2;
}

.name {
    font-family: 'Arvo', serif;
    background-color: #FFFEF7;
    border: 2px solid #402505;
    box-shadow: 3px 3px 0px #402505;
    padding: 5px 20px 5px 20px;
    display: inline-block;
    border-radius: 5px;
    position: absolute;
    top: -15%;
    left: 10%;
    font-weight: bold;
    z-index: 3;
}

.texte {
    padding: 6%;
    display: none;
    
}

@media screen and (max-height: 700px) {
    .texte {
        font-size: 11pt;
    }
}

.orneDore1 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 113px;
}

.orneDore2 {
    position: absolute;
    transform: rotate(180deg);
    bottom: 0px;
    left: 0px;
    width: 113px;
}

.show {
    display: block;
}

.devant {
    z-index: 1;
}

.assombrir {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    background: linear-gradient(rgba(99, 57, 16, 0.307), rgba(62, 4, 4, 0.307));
}

.pharmacy {
    width: 100%;
    position: fixed;
    top: -70px;
    z-index: 4;
    transition: 0.5s;
    border-radius: 10px;
    border: 3px solid #402505;
}

.anim {
    animation: indice 1s forwards;
}

@keyframes indice {
    0% {
        top: 0px;
        right: 0px;
    }
    30% {
        top: 0px;
        right: 0px;
    }

    100% {
        top: -40px;
        right: 0px;
        width: 30%;
        height: auto;
    }
}

/* Partie dans la pharmacy  */
.pharmaco {
    position: fixed;
    z-index: -3;
    top: 0px;
    left: 0px;
    background: url(../img/BACKGROUND/pharmaco.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

/* Boite de l'item  */
.dye {
    width: 20%;
    border-radius: 10px;
    margin: auto;
}

.assombrir2 {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(42, 22, 2, 0.655), rgba(42, 22, 2, 0.655));
    position: fixed;
    top: 0px;
}

/* Partie marche jeu 2 */
.chemin {
    margin: 0px;
    background-image: url(../img/BACKGROUND/pexels-pixabay-235985.jpg);
    background-position: 0px;
    background-repeat: no-repeat;
    position: relative;
}

.parent {
    display: grid;
    grid-template-columns: 1fr;
}

.chemin > .parent {
    margin-top: 70px;
}

.ptitTexte {
    font-family: 'Arvo', serif;
    margin: auto;
    margin-top: 100px;
    padding: 20px 20px 20px 20px;
    color: #402505;
    background-color: #FFFEF7;
    width: 300px;
    border-radius: 10px;
    box-shadow: 4px 5px 0px #402505;
}

@media screen and (max-height: 700px) {
    .ptitTexte {
        margin-top: 30px;
    }
    .chemin > .parent {
        margin-top: 0px;
    }
}

a {
    text-decoration: none;
}

.btnMarche {
    text-align: center;
    background-color: #FFFBD8;
    padding: 2%;
    width: 300px;
    font-family: 'Cinzel', serif;
    border-radius: 30px;
    font-size: 20pt;
    font-weight: bold;
    color: #B88014;
    box-shadow: 4px 5px 0px #402505;
    margin: 40px auto 20px auto;
    text-decoration: none;
}

.pas {
    position: fixed;
    bottom: 0px;
    z-index: -1;
}

.orne1 {
    position: fixed;
    top: 0px;
    right: 0px;
}

.orne2 {
    position: fixed;
    transform: rotate(90deg);
    bottom: 0px;
    right: 0px;
}

.orne3 {
    position: fixed;
    transform: rotate(-90deg);
    top: 0px;
    left: 0px;
}

.orne4 {
    position: fixed;
    transform: rotate(180deg);
    bottom: 0px;
    left: 0px;
}

h1 {
    font-family: 'Cinzel', serif;
    font-weight: initial;
    color: white;
    font-size: 30pt;
    margin: 40px auto;
}

.ornementTitre {
    margin: -80px auto;
}

.indice {
    margin: 20px 0px 0px 0px;
    width: 100%;
    height: 90%;
    font-family: 'Arvo', serif;
    color: white;
    display: flex;
    justify-content: space-around;
}

.parentIndice {
    display: grid;
    gap: 15px;
    grid-template-rows: 60% auto;
}
.legend {
    background: #402505;
    padding: 8px;
    border-radius: 10px;
    height: 20px;
}

.map {
    width: 120px;
    height: 120px;
    border: 2px solid #402505;
    border-radius: 10px;
    background: url(../img/BACKGROUND/map-mulhouse.jpg);
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px auto 10px auto;
}

.bigMap {
    position: fixed;
    top: 20%;
    left: 0px;
    z-index: 2;
    width: 100%;
    height: 62%;
    border: 2px solid #402505;
    box-sizing: border-box;
    border-radius: 10px;
    background: url(../img/ITEMS/map-mulhouse-horizontal.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.code {
    width: 120px;
    height: 120px;
    border: 2px solid #402505;
    border-radius: 10px;
    background: url(../img/ITEMS/codeGAME2.jpg);
    background-size: 200%;
    background-position: left;
    background-repeat: no-repeat;
    margin: 0px auto 10px auto;
}

.bigCode {
    position: fixed;
    top: 20%;
    left: 0px;
    z-index: 2;
    width: 100%;
    height: 62%;
    border: 2px solid #402505;
    box-sizing: border-box;
    border-radius: 10px;
    background: url(../img/ITEMS/codeGAME2.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.croix {
    position: fixed;
    bottom: 11%;
    right: 10%;
    z-index: 3;
}
.croix2 {
    position: fixed;
    top: 11%;
    right: 10%;
    z-index: 3;
}


.soluce {
    position: fixed;
    left: 45%;
    bottom: 10px;
}

.sur {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
}

.croixS {
    position: absolute;
    top: -50px;
    right: 0px;
}

/* JEU HIDE AND SIKE  */
.hide {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #402505;
    position: relative;
}

.fondB {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    left: 0%;
    top: 0px;
}

@keyframes bg {
    0%
    {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* Boite de victoire  */
.title {
    font-family: 'cinzel', serif;
    margin: auto;
    font-size: 20pt;
    padding: 20px;
    text-align: center;
    color: #a26418;
}

.grosBoite {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
}

.boiteO {
    background: #FFFEF7;
    width: 90%;
    height: auto;
    border-radius: 5px;
    text-align: left;
    border: 3px solid #402505;
    transition: 1s;
    position: fixed;
    top: 200px;
    left: 20px;
    box-sizing: border-box;
    font-family: 'Arvo', serif;
    z-index: 5;
    display: grid;
    grid-template-columns: 1fr;
}

.boiteO>a {
    margin: auto;
}

.water {
    width: 30%;
    border-radius: 10px;
    margin: auto;
}

.nomO {
    text-align: center;
    margin: 20px;
    font-family: 'Arvo';
    color: #402505;
}

.btn {
    font-family: 'Cinzel', serif;
    background-color: #f1d293;
    font-size: 15pt;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    width: 180px;
    text-align: center;
    color: #402505;
    margin: auto;
    margin-bottom: 30px;
}
