/* CLASSE COMMUNE  */
.apparition {
    opacity: 1;
    display: block;
}

.disparu {
    opacity: 0;
    display: none; 
}

.disparu2 {
    opacity: 0;
}


.pointer {
    position: absolute;
    right: 10px;
    bottom: 0px;
    width: 50px;
}

.main {
    animation: bouge 1s linear infinite alternate;
}

/* Animation pointer  */
@keyframes bouge {
    0% {
        transform: translate(100px, 150px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}


.jeu1 {
    margin: 0px;
    background-image: url(../img/BACKGROUND/PlacePaix.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.afterjeu1 {
    margin: 0px;
    background-image: url(../img/BACKGROUND/tuyau.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

.perso {
    position: absolute;
    bottom: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.player {
    width: 65%;
    bottom: 0px;
    position: fixed;
    z-index: -1;
}

.plumber {
        width: 90%;
        bottom: 0px;
        right: 0px;
        position: fixed;
        z-index: -1;
}

.vendor {
    width: 65%;
    bottom: 0px;
    right: 0px;
    position: fixed;
    z-index: -1;
    transform: scaleX(-1);
}

.froggy, .froggySad {
    width: 45%;
    bottom: 140px;
    right: 0px;
    position: fixed;
    z-index: -1;
}
.parentBoite {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.boite {
    background: #FFFEF7;
    width: 100%;
    height: 19%;
    border-radius: 5px;
    text-align: left;
    border: 3px solid #402505;
    transition: 1s;
    position: fixed;
    bottom: 50px;
    left: 0px;
    box-sizing: border-box;
    font-family: 'Arvo', serif;
    z-index: 2;
}

.name {
    font-family: 'Arvo', serif;
    background-color: #FFFEF7;
    border: 2px solid #402505;
    box-shadow: 3px 3px 0px #402505;
    padding: 5px 20px 5px 20px;
    display: inline-block;
    border-radius: 5px;
    position: fixed;
    bottom: 195px;
    left: 20px;
    font-weight: bold;
    z-index: 3;
}

.texte {
    padding: 30px;
    display: none;
}

.orneDore1 {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 113px;
}

.orneDore2 {
    position: absolute;
    transform: rotate(180deg);
    bottom: 0px;
    left: 0px;
    width: 113px;
}

.show {
    display: block;
}

.devant {
    z-index: 1;
}

.assombrir {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(rgba(99, 57, 16, 0.307), rgba(62, 4, 4, 0.307));
}

.marche {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    z-index: -2;
    background: url(../img/BACKGROUND/marche.jpg);
}

.tuyau {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    z-index: -2;
    background: url(../img/BACKGROUND/tuyau.jpg);
}

.fountain {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left:0px;
    z-index: -2;
    background: url(../img/BACKGROUND/waterTable.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

/* Boite de l'item  */
.title {
    font-family: 'cinzel', serif;
    margin: auto;
    font-size: 20pt;
    padding: 20px;
    text-align: center;
    color: #a26418;
}

.boiteO {
    background: #FFFEF7;
    width: 90%;
    height: auto;
    border-radius: 5px;
    text-align: left;
    border: 3px solid #402505;
    transition: 1s;
    position: fixed;
    top: 180px;
    left: 20px;
    box-sizing: border-box;
    font-family: 'Arvo', serif;
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr;
}

.water {
    width: 30%;
    border-radius: 50px;
    margin: auto;
}

.nomO {
    text-align: center;
    margin: 20px;
    font-family: 'Arvo';
    color: #402505;
}

.btn {
    font-family: 'Cinzel', serif;
    background-color: #f1d293;
    font-size: 15pt;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    width: 180px;
    text-align: center;
    color: #402505;
    margin: auto;
    margin-bottom: 30px;
}

.disparu2 {
    opacity: 0;
}

/* Page pour la marche  */
.chemin {
    margin: 0px;
    background-image: url(../img/BACKGROUND/pexels-pixabay-235985.jpg);
    background-position: 0px;
    background-repeat: no-repeat;
    position: relative;
}

.parent {
    display: grid;
    grid-template-columns: 1fr;
}

.chemin > .parent {
    margin-top: 70px;
}

.ptitTexte {
    font-family: 'Arvo', serif;
    margin: auto;
    margin-top: 100px;
    padding: 20px 20px 20px 20px;
    color: #402505;
    background-color: #FFFEF7;
    width: 300px;
    border-radius: 10px;
    box-shadow: 4px 5px 0px #402505;
}

a {
    text-decoration: none;
}

.btnMarche {
    text-align: center;
    background-color: #FFFBD8;
    padding: 2%;
    width: 300px;
    font-family: 'Cinzel', serif;
    border-radius: 30px;
    font-size: 20pt;
    font-weight: bold;
    color: #B88014;
    box-shadow: 4px 5px 0px #402505;
    margin: 40px auto;
    text-decoration: none;
}

.pas {
    position: fixed;
    bottom: 0px;
    z-index: -1;
}

.orne1 {
    position: fixed;
    top: 0px;
    right: 0px;
}

.orne2 {
    position: fixed;
    transform: rotate(90deg);
    bottom: 0px;
    right: 0px;
}

.orne3 {
    position: fixed;
    transform: rotate(-90deg);
    top: 0px;
    left: 0px;
}

.orne4 {
    position: fixed;
    transform: rotate(180deg);
    bottom: 0px;
    left: 0px;
}

h1 {
    font-family: 'Cinzel', serif;
    font-weight: initial;
    color: white;
    font-size: 30pt;
    margin: 40px auto;
}

.ornementTitre {
    margin: -80px auto;
}

.indice {
    margin: 30px 0px 30px 0px;
    width: 100%;
    height: 100%;
    font-family: 'Arvo', serif;
    color: white;
    display: flex;
    justify-content: space-around;
}

.parentIndice {
    display: grid;
    grid-template-rows: 1fr auto;
}

.legend {
    background: #402505;
    padding: 8px;
    border-radius: 10px;
}

.map {
    width: 120px;
    height: 120px;
    border: 2px solid #402505;
    border-radius: 10px;
    background: url(../img/BACKGROUND/map-mulhouse.jpg);
    background-size: 200%;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto auto 10px auto;
}

.bigMap {
    position: fixed;
    top: 20%;
    left: 0px;
    z-index: 3;
    width: 100%;
    height: 62%;
    display: inline-block;
    border: 2px solid #402505;
    box-sizing: border-box;
    border-radius: 10px;
    background: url(../img/ITEMS/map-mulhouse-horizontal.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.code {
    width: 120px;
    height: 120px;
    border: 2px solid #402505;
    border-radius: 10px;
    background: url(../img/ITEMS/codeGAME1.png);
    background-size: 200%;
    background-position: left;
    background-repeat: no-repeat;
    margin: auto auto 10px auto;
}